
*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: var(--HEADER), var(--P);
    box-sizing: border-box;
}
body{
    overflow-x:hidden;
}
html{
    background-color: var(--lightblue);
    scroll-behavior: smooth;
}
:root{
--lightblue: #20b2aa;
    --energetic--yellow: #FFD63A;
    --passion-orange: #FFA955;
    --tomato: #F75A5A;
    --complement-of-yellow: #203E5F;
    --darker-black: #1A2634;
    --notso-energetic-yellow: #EEC550;
    --font-color: whitesmoke;
    --HEADER:"Bebas Neue";
    --HEADER-size: max(6vw, 2rem);
    --HEADER-2-size: 5vw;
    --P:   "Oswald", "Open Sans", monospace;
    --P-size:  3.7vw;
    --P-NAV-size : 2.5vw;
}
h1{
    font-family: var(--HEADER);
    font-size: var(--HEADER-size);
    text-align: center;
}
button{
    box-shadow: 0 7px 0 black; /* angled shadow */
    transition: all 150ms ease;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
button:active {
        transform: translate(0, 7px); /* move button exactly onto the shadow */
        box-shadow: 0 0 0 black;        /* shadow disappears */
        background-color: #C0D6DF;
        color: #ffffff;
    }






#NAV{
    width: 100%;
    background-color: var(--complement-of-yellow);
    display: grid;
    grid-template: 100% / 4fr 2fr 2fr 2fr;
    align-items: center;
    align-content: space-evenly;
    justify-items: center;
    position: fixed;
    z-index: 100;
    span{
        text-align: center;
        cursor: pointer;
        font-size: var(--P-NAV-size);
        width: var(--width_of_span);
        --width_of_span: 10vw;
        border-radius: var(--radius);
        --radius:3px;
        background-color: var(--notso-energetic-yellow);
        padding: 0.5vw;
        position: relative;
        a{
            text-decoration: none;
            color: var(--darker-black);
            transition: all 300ms;
        }
    }
    span:hover{
        background-color: var(--passion-orange);
        color: var(--font-color);
        text-decoration: none;
        transition: all 300ms;
        a{
            text-decoration: none;
            color: var(--font-color);
        }
    }
    img{
        height: 3vw;
    }

    .logo{
        background-color: transparent;
        display: flex;
        align-items: baseline;
        font-weight: 700;
        color: var(--font-color);
        justify-self: start;
        font-size: 3vw;
        letter-spacing: 0.1vw;
        width: 16vw;
    }
}


section#options_of_tips_to_choose{
    height: 100vh;
    width: 100vw;
    background-color: var(--lightblue);
    text-align: center;
    button{
        font-family: var(--P);
        font-size: var(--P-size);
        height: 55vh;
        width: 30vw;
        max-height: 700px;
        margin: 1vw;
        cursor: pointer;
        transition: all 0.3s;
    }
    button:hover{
        background-color: var(--passion-orange);
        color: var(--font-color);
    }
}






div#BENEFIT{
    display: flex;
    justify-content: space-evenly;
    height: 120vh;
    padding: 1rem 0 8vh 0;
    div.a_benefit{
        display: inline-block;
        border: var(--notso-energetic-yellow) 2px solid;
        border-radius: 1rem;
        height: auto;
        width: 32vw;
        padding : 1vw;
        > h1{
            font-size: calc(var(--HEADER-size) - 3vw);
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: var(--notso-energetic-yellow) 2px solid;
        }
        >p{
            font-size: 3vw !important;
        }
    }
    a{
        transition: all 300ms
    }
    a:hover{
        background-color: var(--passion-orange);
        color: var(--font-color);
        padding: 0.4rem;
        text-decoration: none;

    }
}









#MAIN_CONTENT{
    display: grid;
    grid-template: 2fr 2fr 1fr 1fr/ 1fr;
    padding: 2rem 2rem;
    align-items: center;
    align-content: space-evenly;
    justify-items: center;
    background-color: var(--lightblue);
    height: max(600px, 140vh);
    transition: all 700ms;
        #PROMPT{
        background-color: var(--font-color);
        width: auto;
        font-size: var(--HEADER-size);
        padding: calc(var(--HEADER-size) / 5);
        text-align: center;
    }

    h1{
        font-size: var(--HEADER-size);
    }
    button:active {
        transform: translate(0, 7px) !important;/* move button exactly onto the shadow */
        box-shadow: 0 0 0 black !important;        /* shadow disappears */
        background-color: #C0D6DF;
        color: #ffffff;
    }
}





.TIP div:has(video){
    display: flex !important;
    flex-direction: column;
    align-items: center;
    p {
        width: 90% !important;
        align-self: center;
    }
    video{
        width: 80vw;
        align-self: center;
    }
    
    
}
.TIP div > h1, .TIP div > h2, .TIP div > img{
    will-change: opacity, transform;
}
@media only screen  and (max-width: 1200px), ( orientation: portrait){
    div#BENEFIT{
        flex-direction: column;
        align-items: center;
    }
    .TIP div{
    height: max(600px, 80vh);
    background-color: var(--lightblue);
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    h1{
        text-align: center;
        font-size: calc(var(--HEADER-size) );
        font-family: var(--HEADER);
        margin-bottom: 2vh;
    }
    p{
        font-family: var(--P);
        width: 80%;
        text-wrap: pretty;
        font-size: var(--P-size);
    }
    img{
            height: 20vh;
            width: 20vh;
        }
    button{
        font-size: calc(var(--P-size) + 1vw);
        display: inline-block;
        width: fit-content;
        padding: 0 1vw 0 1vw;
    }
    
    }
    section#options_of_tips_to_choose{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;

        button{
            height: 20vh;
            width: 90vw;
            font-size: calc(var(--HEADER-size) + 1vw);
        }

    }
    #MAIN_CONTENT{
        height: max(600px, 80vh);
    }
    div#BENEFIT{
        height: 80vh; 

    }
}




@media only screen and (min-width: 1200px), (orientation: landscape){
.TIP div{
    height: auto;
    background-color: var(--lightblue);
    padding: 4vh 4vw;
    height: auto;
    display: grid;
    
    &.right{
        grid-template: 1fr 6fr/ 6fr 4fr;
        grid-template-areas:
        "h1 img"
        "p img";
    }
    &.left{
        grid-template: 1fr 6fr/ 4fr 6fr;
        grid-template-areas:
        "img h1"
        "img p";
    }
    
    gap: 1vw;
    align-content: center;
    justify-content: center;
    justify-items: center;
     p{
        font-size: var(--P-size);
        font-family: var(--P);
        grid-area: p;
        }
    
    h1{
        justify-self: start;
        font-size: var(--HEADER-size);
        font-family: var(--HEADER);
        grid-area: h1;
        }
    img{
        margin-top: 12%;
        width: 70%;
        height: auto;
        grid-area: img;
        }
    button{
        font-size: var(--P-size);
        display: inline-block;
        width: fit-content;
        padding: 0 1vw 0 1vw;
    }
}}















.footer_border{
        width: 100%;
        aspect-ratio: 18/5;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./image/layered-waves-haikei.svg);
    }
footer{
    background-color: var(--darker-black);
    height: auto;
    display: flex;
    gap: 4vh;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    p, h1{
        background-color: transparent;
        color: var(--font-color);
        font-size: calc(var(--HEADER-size));
    }
    a > img{
        width: 28vh;
        height: 28vh;
    }
    #contact{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5vw;
        text-align: center;
        div{
            --circe--: 10vw;
            background-color: var(--font-color);
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            justify-items: center;
            width: var(--circe--);
            height: var(--circe--);
            min-height: 100px;
            min-width: 100px;
            transition: background-color 300ms;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img{
                width: 64%;
                height: auto;
            }
        }
        div:hover{
            background-color: var(--passion-orange);
        }
    }
}
