
*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: var(--HEADER), var(--P);
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    overflow-x:hidden;
}

:root{
--lightblue: #20b2aa;
    --energetic--yellow: #FFD63A;
    --passion-orange: #FFA955;
    --tomato: #F75A5A;
    --complement-of-yellow: #203E5F;
    --darker-black: #1A2634;
    --notso-energetic-yellow: #EEC550;
    --font-color: whitesmoke;
    --HEADER:"Bebas Neue";
    --HEADER-size: 10vw;
    --HEADER-2-size: 7vw;
    --P:   "Oswald", "Open Sans", monospace;
    --P-size:  4.9vw;
    --P-NAV-size : 2.5vw;
}
h1{
    font-family: var(--HEADER);
    font-size: var(--HEADER-2-size);
}
p{
    font-family: var(--P);
    font-size: var(--P-size);
}
button{
    box-shadow: 0 7px 0 black; /* angled shadow */
    transition: all 150ms ease;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
button:active {
        transform: translate(0, 7px); /* move button exactly onto the shadow */
        box-shadow: 0 0 0 black;        /* shadow disappears */
        background-color: #C0D6DF;
        color: #ffffff;
    }






#NAV{
    width: 100%;
    background-color: var(--complement-of-yellow);
    display: grid;
    grid-template: 100% / 4fr 2fr 2fr 2fr;
    align-items: center;
    align-content: space-evenly;
    justify-items: center;
    position: fixed;
    z-index: 100;
    span{
        text-align: center;
        cursor: pointer;
        font-size: var(--P-NAV-size);
        width: var(--width_of_span);
        --width_of_span: 10vw;
        border-radius: var(--radius);
        --radius:3px;
        background-color: var(--notso-energetic-yellow);
        padding: 0.5vw;
        position: relative;
        a{
            text-decoration: none;
            color: var(--darker-black);
            transition: all 300ms;
        }
    }
    span:hover{
        background-color: var(--passion-orange);
        color: var(--font-color);
        text-decoration: none;
        transition: all 300ms;
        a{
            text-decoration: none;
            color: var(--font-color);
        }
    }
    img{
        height: 3vw;
    }

    .logo{
        background-color: transparent;
        display: flex;
        align-items: baseline;
        font-weight: 700;
        color: var(--font-color);
        justify-self: start;
        font-size: 3vw;
        letter-spacing: 0.1vw;
        width: 16vw;
    }
}


section#options_of_tips_to_choose{
    height: 100vh;
    width: 100vw;
    background-color: var(--lightblue);
    text-align: center;
    button{
        font-family: var(--P);
        font-size: var(--P-size);
        height: 55vh;
        width: 30vw;
        margin: 1vw;
        cursor: pointer;
        transition: all 0.3s;
    }
    button:hover{
        background-color: var(--passion-orange);
        color: var(--font-color);
        
    }
}






div#BENEFIT{
    font-size: var(--HEADER-2-size);///////////////////////////////////////////////////////////
    text-align: center;
    background-color: var(--lightblue);
    height: 120vh;
    padding-top: 20vh;
    li{
        font-size: var(--P-size);
        margin-left: 30vw;
        text-align: left;
    }
    a, li{
        transition: all 300ms
    }
    a:hover{
        background-color: var(--passion-orange);
        color: var(--font-color);
        padding: 0.2vw;
        text-decoration: none;

    }
}









#MAIN_CONTENT{
    display: grid;
    background-color: var(--lightblue);
    grid-template: 3fr 6fr 1fr/ 1fr;
    height: max(600px, 100vh);
    align-items: center;
    align-content: space-evenly;
    justify-items: center;
    transition: all 700ms;
        #PROMPT{
        background-color: var(--font-color);
        width: auto;
        font-size: var(--HEADER-size);
        padding: calc(var(--HEADER-size) / 5);
        text-align: center;
    }

    h1{
        font-size: var(--HEADER-size);
    }

    button {
        background-color: var(--font-color);
        color: var(--darker-black);
        margin: 0;
        padding: 10px 20px;
        box-shadow: 0 7px 0 black; /* angled shadow */
        transition: all 150ms ease;
        border-radius: 3px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        position: relative;
    }
    /* Hover (pressed state) */
    button:active {
        transform: translate(0, 7px); /* move button exactly onto the shadow */
        box-shadow: 0 0 0 black;        /* shadow disappears */
        background-color: #C0D6DF;
        color: #ffffff;
        
    }
}









@media only screen  and (max-width: 800px), ( orientation: portrait){
    .TIP div{
    height: max(600px, 80vh);
    background-color: var(--lightblue);
    padding: 1vh 1vw;
    h1{
        text-align: center;
        font-size: var(--HEADER-2-size);
        font-family: var(--HEADER);
        margin-bottom: 2vh;
    }
    div{
        height: 50%;
        padding: 0;
        display: flex;
        gap: 7vh;
        justify-content: flex-start;
        align-content: flex-start;
        flex-direction: column;
        align-items: center;
        justify-items: flex-start;
        p{
            font-size: 3rem;
            font-family: var(--P);
            display: inline-flex;
            justify-content: center;
            width: 70%;
            text-justify: inter-word;
        }
    }
    img{
            width: auto;
            height: 16vh;
        }
    
    }
    section#options_of_tips_to_choose{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;

        button{
            height: 20vh;
            width: 90vw;
        }
    }
    #MAIN_CONTENT{
        height: max(600px, 80vh);
    }
    div#BENEFIT{
        height: 80vh; 

    }
}




@media only screen and (min-width: 800px), (orientation: landscape){
.TIP div{
    height: max(700px, 130vh);
    background-color: var(--lightblue);
    padding: 2.5vh 2.5vw;
    
    h1{
        text-align: center;
        font-size: var(--HEADER-size);
        font-family: var(--HEADER);
        margin-bottom: 8vh;
    }
    div{
        height: 70%;
        padding: 0;
        display: flex;
        gap: 2vw;
        justify-content: space-evenly;
        align-content: center;
        p{
            font-size: var(--P-size);
            font-family: var(--P);
            display: inline-flex;
            gap: 7%;
            flex-direction: column;
            width: 50%;
        }
    }
    img{
            width: auto;
            height: 40vh;
        }
    /*div.citation{
        background-color: var(--font-color);
        display: inline-block;
        height: 7vh;
        transition: all 300ms;
        padding-left: 0.2vw;
        font-size: calc(var(--P-size)/2);
    }
    div.citation:hover{
        background-color: var(--passion-orange);
        color: var(--font-color);
        padding-left: 0.7vw;
        text-decoration: none;
    }*/
}}















.footer_border{
        width: 100%;
        aspect-ratio: 18/5;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./image/layered-waves-haikei.svg);
    }
footer{
    background-color: var(--darker-black);
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-size: calc(var(--HEADER-2-size) / 2);
    p, h1{
        background-color: transparent;
        color: var(--font-color);
    }
    img{
        width: 40%;
        height: auto;
    }
    #contact{
        display: flex;
        justify-content: center;
        gap: 5vw;
        text-align: center;
        div{
            --circe--: 10vw;
            background-color: var(--font-color);
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            justify-items: center;
            width: var(--circe--);
            height: var(--circe--);
            transition: background-color 300ms;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img{
                width: 64%;
                height: auto;
            }
        }
        div:hover{
            background-color: var(--passion-orange);
        }
    }
}
