
*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: var(--HEADER), var(--P);
    scroll-behavior: smooth;
    box-sizing: border-box;
}
:root{
--lightblue: lightseagreen;
    --energetic--yellow: #FFD63A;
    --passion-orange: #FFA955;
    --tomato: #F75A5A;
    --complement-of-yellow: #203E5F;
    --darker-black: #1A2634;
    --notso-energetic-yellow: #EEC550;
    --font-color: whitesmoke;
    --HEADER:"Bebas Neue";
    --HEADER-size: 10vw;
    --HEADER-2-size: 7vw;
    --P:   "Oswald", "Open Sans", monospace;
    --P-size:  4vw;
    --P-NAV-size : 2.5vw;
}

button{
    box-shadow: 0 7px 0 black; /* angled shadow */
    transition: all 150ms ease;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
button:active {
        transform: translate(0, 7px); /* move button exactly onto the shadow */
        box-shadow: 0 0 0 black;        /* shadow disappears */
        background-color: #C0D6DF;
        color: #ffffff;
    }






#NAV{
    width: 100vw;
    background-color: var(--complement-of-yellow);
    display: grid;
    grid-template: 100% / 4fr 2fr 2fr 2fr;
    align-items: center;
    align-content: space-evenly;
    justify-items: center;
    position: fixed;
    z-index: 100;
    span{
        text-align: center;
        cursor: pointer;
        font-size: var(--P-NAV-size);
        width: var(--width_of_span);
        --width_of_span: 10vw;
        border-radius: var(--radius);
        --radius:3px;
        background-color: var(--notso-energetic-yellow);
        padding: 0.5vw;
        position: relative;

        a{
            text-decoration: none;
            color: var(--darker-black);
        }
    }
    img{
        height: 3vw;
    }

    .logo{
        background-color: transparent;
        display: flex;
        align-items: baseline;
        font-weight: 700;
        color: var(--font-color);
        justify-self: start;
        font-size: 3vw;
        letter-spacing: 0.1vw;
        width: 16vw;
    }
}


section#options_of_tips_to_choose{
    height: 70vh;
    width: 100vw;
    background-color: var(--lightblue);
    button{
        font-family: var(--P);
        font-size: var(--P-size);
        height: 55vh;
        width: 30vw;
        margin: 1vw;
        cursor: pointer;
        transition: all 0.3s;
    }
    button:hover{
        background-color: var(--passion-orange);
        color: var(--font-color);
        
    }
}






div#BENEFIT{
    font-size: var(--HEADER-2-size);///////////////////////////////////////////////////////////
    text-align: center;
    background-color: var(--lightblue);
    height: 120vh;
    padding-top: 20vh;
    li{
        font-size: var(--P-size);
        margin-left: 30vw;
        text-align: left;
    }
}









#MAIN_CONTENT{
    display: grid;
    background-color: var(--lightblue);
    grid-template: 7fr 3fr / 1fr;
    height: max(459px, 100vh);
    align-items: center;
    align-content: space-evenly;
    justify-items: center;
    transition: all 700ms;
        #PROMPT{
        background-color: var(--font-color);
        width: auto;
        font-size: var(--HEADER-size);
        padding: calc(var(--HEADER-size) / 5);
        text-align: center;
    }

    h1{
        font-size: var(--HEADER-size);
    }

    button {
        background-color: var(--font-color);
        color: var(--darker-black);
        margin: 0;
        padding: 10px 20px;
        box-shadow: 0 7px 0 black; /* angled shadow */
        transition: all 150ms ease;
        border-radius: 3px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        position: relative;
    }
    /* Hover (pressed state) */
    button:active {
        transform: translate(0, 7px); /* move button exactly onto the shadow */
        box-shadow: 0 0 0 black;        /* shadow disappears */
        background-color: #C0D6DF;
        color: #ffffff;
        
    }
}









@media only screen  and (max-width: 730px), ( orientation: portrait){
    .TIP div{
    height: min(600px, 80vh);
    background-color: var(--lightblue);
    padding: 1vh 1vw;
    
    h1{
        text-align: center;
        font-size: var(--HEADER-2-size);
        font-family: var(--HEADER);
        margin-bottom: 2vh;
    }
    div{
        height: 50%;
        padding: 0;
        display: flex;
        gap: 7vh;
        justify-content: flex-start;
        align-content: center;
        flex-direction: column;
        align-items: center;
        p{
            font-size: 3rem;
            font-family: var(--P);
            display: inline-flex;
            justify-content: center;
            width: 50%;
        }
    }
    img{
            width: 22vw;
            height: 22vw;
        }
    }
}




@media only screen and (min-width: 730px), (orientation: landscape){
.TIP div{
    height: max(700px, 130vh);
    background-color: var(--lightblue);
    padding: 2.5vh 2.5vw;
    
    h1{
        text-align: center;
        font-size: var(--HEADER-size);
        font-family: var(--HEADER);
        margin-bottom: 8vh;
    }
    div{
        height: 70%;
        padding: 0;
        display: flex;
        gap: 2vw;
        justify-content: center;
        align-content: center;
        p{
            font-size: var(--P-size);
            font-family: var(--P);
            display: inline-flex;
            width: 50%;
        }
    }
    img{
            width: 22vw;
            height: 22vw;
        }
}}
















footer{
    background-color: var(--darker-black);
    height: max(700px, 100vh);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: calc(var(--HEADER-2-size) / 2);
    #contact{
        display: flex;
        justify-content: center;
        gap: 5vw;
        text-align: center;
        div{
            --circe--: 10vw;
            background-color: var(--font-color);
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            justify-items: center;
            width: var(--circe--);
            height: var(--circe--);
            a{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            img{
                width: 64%;
                height: auto;
            }
        }
    }
}
